*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Решта коду */

/*  КАСТОМНІ ВЛАСТИВОСТІ, СSS змінні, якщо використовуємо саме root,
 колір вказаний в змінній буде доступний у всій ієрархії мого документа HTML */
:root{
    --primary-text-color: #000000;
    --accent-color: #FF6600;
    --background-color: #fdfbef;
    --secondary-color: #FFFFFF;
    --btn-color:#fe0101; 
    
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
/* тут указуємо основний текст сторінки, він унаслідується 
і обовязково указуємо засічки */
    font-family: Roboto, sans-serif;
   /* Так позначається основний шрифт на сторінці!!!!
   У селекторі body завжди перераховується набір можливих шрифтів.
    Властивість font-family успадковується більшістю елементів, тому його задають елементу body.*/
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}


ul {
    list-style: none;
    
}
.nav .nav-link { 
    font-size: 23px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--primary-text-color);
}
.btn {
    border: transparent;

    font-family: inherit;/* щоб кнопка унаслідувала
     шрифт */

    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--btn-color);
}
.section-title{
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
    line-height: 1.3;
    color: var(--primary-text-color);
    
}

.accent{
    color: var(--accent-color);
    text-transform: uppercase;
    text-shadow:2px 2px 4px var(--primary-text-color);
}
/* у даному селекторі більша специфічність і білтй колір перебє чорний, якщо додаємо дитину,
 то обовяязково додаємо і батька */
.text-number {
    font-family: "Archivo Black", sans-serif;
    font-size: 33px;
    line-height: 1.3;

    color: var(--accent-color);
    text-shadow:2px 2px 4px var(--primary-text-color);
}
.text-second {
    font-size: 16px;
    line-height: 1.4;
}
.subtitle {
    font-family: "Archivo Black", sans-serif;
    font-size: 25px;
    line-height: 1.3;

    color: var(--accent-color);
    text-shadow:2px 2px 4px var(--primary-text-color);

 }

/* Колір основного шрифтк #000000*/
/* вторичні кольори тексту, wite #ffffff */
/* акцент FF6600 */
/* Коли треба прибрати крапочки у ненцмерованог списку ми можемо використовувати додатковий клас .
list для прикладу і потім його додавати 
туди де треба прибрати крапочки, а не всі на сторінці
.list{
    list-style: none;
    
} */
/*  nav */

/* у навігації можна підсвічувати сторінку, на якій саме зараз знаходиться відвідувач. 
.site-nav .link.current {
color: var(--accent-color);
} використовуємо для багатосторінкових сайтів*/
/* майже завджи на лендосах секції однакові: колір заголовку,колір тексту, колір опису однакові,
 тому можна примняти утилітний клас section,
  який описує однакові стилі контенту у всіх секціях*/

  .services {
    background-color: var(--accent-color);
  }
.services .section-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
    line-height: 1.3;

    color: var(--secondary-color);

}

.services .services-text {

    font-weight: 600;

    color: var(--secondary-color);
}
.services .prace {
    font-weight: 600;
}
.desc .logo-text { 
font-family: "Archivo Black", sans-serif;
text-transform: uppercase;

font-size: 200px;
line-height: 1.3;
color: var(--accent-color);
text-shadow:2px 2px 4px var(--primary-text-color);

}

.desc .company { 
    color: var(--btn-color);
}
.contacts {
    background-color: var(--accent-color);
    color: var(--secondary-color);

}
.works {
    font-family: Roboto, sans-serif;
    font-size: 20;
    line-height: 1.4;
}